#container {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
}

.spin {
  animation: spin 500ms linear infinite;
  transform-origin: 50% 50%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.address {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: bold;
}

.price {
  color: #fff;
  background-color: #ff6565;
  margin-top: 10px;
  padding: 0 10px;
  border-radius: 20px;
}
